/* =====================================
   RESET
===================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Plus Jakarta Sans',sans-serif;

    background:linear-gradient(
        135deg,
        #F8F4EF,
        #F2E6DF,
        #ECD8CD
    );

    color:#443025;

    min-height:100vh;

    overflow:hidden;

}

/* =====================================
   HEADER
===================================== */

.hero{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    margin-top:35px;

}

.logo{

    width:280px;
    height:auto;
    display:block;
    margin:0 auto;
    transition:.35s;
    user-select:none;
    pointer-events:none;
    animation:aparecer .8s ease;
    margin-top: 45px;

}

.logo: hover{
    transform:scale(1.03);
}

.slogan{

    margin-top:20px;
    margin-bottom: 70px;
    font-family:'Cormorant Garamond',serif;
    font-size:30px;
    font-style:italic;
    color:#6E5646;
    letter-spacing:2px;
    text-align:center;

}

/* =====================================
   HOME
===================================== */

.home{

    width:900px;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,170px);
    justify-items:center;
    align-items:center;

}

/* Posiciones */

.atlas{

    grid-column:2;
    grid-row:1;

}

.planner{

    grid-column:1;
    grid-row:1;

}

.journal{

    grid-column:3;
    grid-row:1;

}

.baul{

    grid-column:1;
    grid-row:2;

}

.timeline{

    grid-column:3;
    grid-row:2;

}

/* =====================================
   WORKSPACES
===================================== */

.workspace{

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:14px;
    cursor:pointer;
    transition:.35s;
    width:105px;
    height:120px;
    border:4px solid rgba(255,255,255,.75);
    box-shadow: inset 0 0 0 2px
    rgba(120,85,55,.18),
    0 12px 28px rgba(0,0,0,.16);
    user-select:none;
    cursor:pointer;
    position:relative;
    overflow:visible;


}

.workspace:hover{

    transform:translateY(-8px)
    scale(1.05);

}

.circle{

    width:82px;
    height:82px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:42px;
    color:white;
    background: #7A5638;
    border: 6px solid #F5EFE8;
    transition:.35s;
    box-shadow:
        0 0 0 2px rgba(122,86,56,.25),
        0 15px 45px rgba(0,0,0,.18);
    


}

.workspace span{

    opacity:0;
    visibility:hidden;
    position:absolute;
    transition:.3s;

}

.workspace:hover span{

    opacity:1;
    visibility:visible;

    bottom:-35px;
    left:50%;

    transform:translateX(-50%);
    background: white;
    padding:6px 12px;
    border-radius:10px;
    box-shadow:0 8px 18px rgba(0,0,0,.15);
    white-space:nowrap;

}

.workspace:hover .circle{

    transform:translateY(-6px) scale(1.08);

    box-shadow:
        0 0 0 4px rgba(236,156,157,.25),
        0 22px 45px rgba(0,0,0,.22);

}

.workspace:hover span{

    color:#2B1A12;

}

.workspace.selected{
    transform:translateY(-12px)
    scale(1.05);
    z-index:20;
}

.workspace.hidden{
    opacity:0;
    transform:scale(.8);
    pointer-events:none;
    transition:.35s;
}

/* =====================================
   COLORES
===================================== */

.atlas .circle{

    background:#7A5638;

}

.planner .circle{

    background:#67B05B;

}

.journal .circle{

    background:#8E74CF;

}

.baul .circle{

    background:#D99229;

}

.timeline .circle{

    background:#4F7DCA;

}

/* =====================================
   BOTÓN PERSONALIZAR
===================================== */

.customize-btn{

    position:fixed;
    right:35px;
    bottom:35px;
    width:65px;
    height:65px;
    border:none;
    border-radius:50%;
    background:#7A5638;
    color:white;
    font-size:28px;
    cursor:pointer;
    display: flex;
    justify-content: column;
    align-items: center;
    gap:12px;
    box-shadow:0 12px 30px rgba(0,0,0,.20);
    transition:.35s;
    z-index: 999;

}

.customize-btn:hover{

    transform:
    translateY(-5px) 
    rotate(25deg)
    scale(1.08);

    box-shadow: #8F6645;

}

.customize-btn::before{

    content:"Personalizar";
    position:absolute;
    right:72px;
    top:50%;
    transform:translateY(-50%);
    background:#443025;
    color:white;
    padding:8px 14px;
    border-radius:10px;
    font-size:13px;
    opacity:0;
    pointer-events:none;
    transition:.3s;
    white-space:nowrap;

}

.customize-btn:hover::before{

    opacity:1;

}

/* =====================================
   ANIMACIONES
===================================== */

@keyframes fadeLogo{

    from{

        opacity:0;

        transform:translateY(-20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.workspace{

    opacity:0;

    animation:appear .6s forwards;

}

.workspace:nth-child(1){

    animation-delay:.15s;

}

.workspace:nth-child(2){

    animation-delay:.30s;

}

.workspace:nth-child(3){

    animation-delay:.45s;

}

.workspace:nth-child(4){

    animation-delay:.60s;

}

.workspace:nth-child(5){

    animation-delay:.75s;

}

@keyframes appear{

    from{

        opacity:0;

        transform:translateY(25px) scale(.95);

    }

    to{

        opacity:1;

        transform:translateY(0) scale(1);

    }

}

/* =====================================
   RESPONSIVE
===================================== */

@media (max-width:900px){

    .home{

        width:95%;

        grid-template-columns:repeat(2,1fr);

        grid-template-rows:auto;

        gap:40px;

    }

    .atlas{

        grid-column:1 / span 2;

    }

}

/* =====================================
   ESTADOS DEL SCRIPT
===================================== */

.hidden{

    opacity:.15;

    transform:scale(.85);

    filter:blur(2px);

    pointer-events:none;

    transition:.45s;

}

.selected .circle{

    transform:scale(1.15);

    box-shadow:
        0 25px 60px rgba(0,0,0,.30);

}

.appearance-panel{

    position: fixed;
    right:110px;
    bottom:35px;
    width:300px;
    background:white;
    border-radius:18px;
    padding:20px;
    box-shadow:0 20px 5px rgba(0,0,0,.18);
    display:none;
    z-index: 999;
    opacity:0;
    transform:
    translateY(20opx);
    pointer-events:none;
    transition:.35s;
}

.appearance-panel.active{
    opacity:1;
    transform:
    translateY(0);
    pointer-events:auto;
}

.appearance-panel h2{

    margin-bottom:18px;
}

.theme-list{
    display:flex;

    flex-direction:column;

    gap:10px;

    margin-top:18px;
}

.theme-btn,
.upload-background{

    padding:12px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background: #EFE7DF;

    transition:.3s;
}

.close-appearance{

    width:100;
    margin-top:18px;
    padding:12px;
    border:none;
    border-radius:12px;
    background: #7A5638;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.close-appearance:hover{
    background: #5F4129;
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(30px);
    }
}

.workspace{

    animation:aparecer .7s ease;

}

.workspaces{

    display:flex;

    justify-content:center;

    align-items:flex-start;

    gap:70px;

    margin-top:35px;

    flex-wrap:wrap;

}

.customize-btn .circle{

    width:70px;
    height:70px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#7A5638;
    color:white;
    font-size:30px;
    border:6px solid #F5EFE8;
    transition:.3s;

}

.customize-btn: hover .circle{
    transform:translateY(-6px)
    scale(1.08);
}