/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;

    background:linear-gradient(
        135deg,
        #F7F3EE,
        #F2E6DF,
        #ECD8CD
    );

    width:100%;
    height:100vh;

    overflow:hidden;

    color:#443025;

}

/* ===========================
   HEADER
=========================== */

header{

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:35px;

}

.logo{

    width:260px;

}

.slogan{

    margin-top:15px;

    font-size:20px;

    letter-spacing:2px;

    color:#7A5A46;

}

/* ===========================
   HOME
=========================== */

.home{

    width:100%;
    height:65vh;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

}

/* ===========================
   CONTENEDOR
=========================== */

.workspace-container{

    width:750px;
    height:450px;

    position:relative;

}

/* ===========================
   WORKSPACES
=========================== */

.workspace{

    position:absolute;

    text-align:center;

}

.circle{

    width:95px;
    height:95px;

    border-radius:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:42px;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.circle:hover{

    transform:scale(1.1);

}

.workspace p{

    margin-top:12px;

    font-weight:bold;

}

/* ===========================
   POSICIONES
=========================== */

.atlas{

    top:0;
    left:325px;

}

.planner{

    top:120px;
    left:120px;

}

.journal{

    top:120px;
    right:120px;

}

.baul{

    bottom:0;
    left:200px;

}

.timeline{

    bottom:0;
    right:200px;

}

/* ===========================
   FOOTER
=========================== */

footer{

    display:flex;
    justify-content:center;

}

.customize-btn{

    border:none;

    padding:14px 26px;

    border-radius:30px;

    background:#6A0DAD;

    color:white;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.customize-btn:hover{

    transform:scale(1.05);

}