body {
    margin: 0;
    min-height: 100vh;
    background-image: url('../planificador%20de%20vida/activos/fondo/marino.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
